<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Selection Page</title>
		<link rel="shortout icon" type="image/x-icon" href="{{ url_for('static', filename='img/selection.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="box">
				<div class="imgBx">
					<img src="{{ url_for('static', filename='img/javaprogramming.PNG') }}">
				</div>
				<div class="content">
					<h2>Exam Papers</h2>
					<p>Access over 10 comprehensive exam papers covering all lessons for hands-on practice.</p>
					<a href="/examPapers">Do a paper</a>
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="{{ url_for('static', filename='img/Cprogramming.png') }}">
				</div>
				<div class="content">
					<h2>Virtual Classroom</h2>
					<p>The virtual classroom enhances student-teacher communication and facilitates meetings to boost academic success</p>
					<a href="/virtualClassRoom">Proceed to the room</a>
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="{{ url_for('static', filename='img/codejammbg.PNG') }}">
				</div>
				<div class="content">
					<h2>AI Chat Bot Guide</h2>
					<p>The AI chatbot is here to answer your questions and guide you through the web application experience</p>
					<a href="https://sites.google.com/view/code-jamm">Chatbot assistance</a>
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="{{ url_for('static', filename='img/profilebg.PNG') }}">
				</div>
				<div class="content">
					<h2>Author Info</h2>
					<p>Please have a look on this page to know about the Personal Details of this website Author</p>
					<a href="/profilecard">Visit</a>
				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<img src="{{ url_for('static', filename='img/reportbg.png') }}">
				</div>
				<div class="content">
					<h2>Test Summary</h2>
					<p>Click here to have a look on your entire Test summary and individual Test reports you have attempted</p>
					<a href="/viewTestReport">Visit</a>
				</div>
			</div>
		</div>
		<br>
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>

<script>
  var firebaseConfig = 
  {
    apiKey: "AIzaSyBlzxYeO9xvN3-UyFlLPhTGM7M5i_8gjT8",
  authDomain: "quiz-corner-5afa2.firebaseapp.com",
  projectId: "quiz-corner-5afa2",
  storageBucket: "quiz-corner-5afa2.appspot.com",
  messagingSenderId: "248412314293",
  appId: "1:248412314293:web:b871a5028b610d34db3cfc",
  measurementId: "G-TPLYH7LM42"
  };
  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  const fs = firebase.firestore();
  const db = firebase.firestore();
</script>
	<script src="{{ url_for('static', filename='js/testSummary.js') }}"></script>
</html>
