<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C Programming</title>
    <link rel="shortout icon" type="image/x-icon" href="{{ url_for('static', filename='img/c-logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/java.css') }}" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="form1">
        <div class="contact-info">
          <h3 class="title"><b><center><font color="#1b8079">C sub-topics</font></center></b></h3>
          <p class="text">
            <center><img class="imgflow" src="{{ url_for('static', filename='img/c-logo.png') }}" width="300" height="350"></center>
          </p>
        </div>

        <div class="contact-form">
          <form>
            <a href="/quiz-C-Basics" class="buttonfx c-btn">Basics</a>
            <a href="/quiz-C-Variables" class="buttonfx c-btn">Variables</a>
            <a href="connect your code to this">Visit Site</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>